	<div id="page_header" class="page-subheader site-subheader-cst min-380 maskcontainer--mask3">
			<div class="bgback"></div>

			<!-- Background -->
			<div class="kl-bg-source">
				<!-- Gradient overlay -->
				<div class="kl-bg-source__overlay" style="background:rgba(118,3,186,1); background: -moz-linear-gradient(to left, #337ab7 70%,rgb(253, 253, 253) 100%); 
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(118,3,186,1)), color-stop(100%,rgba(143,21,21,1))); 
				background: -webkit-linear-gradient(left, rgba(118,3,186,1) 0%,rgba(143,21,21,1) 100%);
				 background: -o-linear-gradient(left, rgba(118,3,186,1) 0%,rgba(143,21,21,1) 100%); background: -ms-linear-gradient(to left, #337ab7 70%,rgb(253, 253, 253) 100%); background: linear-gradient(to left, #337ab7 70%,rgb(253, 253, 253) 100%);">
				</div>
				<!--/ Gradient overlay -->
			</div>
			<!--/ Background -->

			<!-- Animated Sparkles -->
			<div class="th-sparkles"></div>
			<!--/ Animated Sparkles -->

			<!-- Sub-Header content wrapper -->
			<div class="ph-content-wrap">
				<div class="ph-content-v-center">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<!-- Breadcrumbs -->
								<ul class="breadcrumbs fixclear">
									<li><a href="index-2.html">Home</a></li>
									<li>Contact</li>
								</ul>
								<!--/ Breadcrumbs -->

								<!-- Current date -->
<!--								<span id="current-date" class="subheader-currentdate">August 25, 2017</span>-->
								<!--/ Current date -->

								<div class="clearfix"></div>
							</div>
							<!--/ col-sm-6 -->

							<div class="col-sm-6">
								<!-- Sub-header titles -->
								<div class="subheader-titles">
									<h2 class="subheader-maintitle">FEEL FREE TO CONTACT US </h2>
<!--									<h4 class="subheader-subtitle"> Contact Info </h4>-->
								</div>
								<!--/ Sub-header titles -->
							</div>
							<!--/ col-sm-6 -->
						</div>
						<!--/ row -->
					</div>
					<!--/ container -->
				</div>
				<!--/ .ph-content-v-center -->
			</div>
			<!--/ Sub-Header content wrapper -->

			<!-- Sub-header Bottom mask style 3 -->
			<div class="kl-bottommask kl-bottommask--mask3">
				<svg width="2700px" height="57px" class="svgmask" viewBox="0 0 2700 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
							<feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
							<feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
							<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
							<feMerge>
								<feMergeNode in="SourceGraphic"></feMergeNode>
								<feMergeNode in="shadowMatrixInner1"></feMergeNode>
							</feMerge>
						</filter>
					</defs>
					<path d="M-2,57 L-2,34.007 L1268,34.007 L1284,34.007 C1284,34.007 1291.89,33.258 1298,31.024 C1304.11,28.79 1329,11 1329,11 L1342,2 C1342,2 1345.121,-0.038 1350,-1.64313008e-14 C1355.267,-0.03 1358,2 1358,2 L1371,11 C1371,11 1395.89,28.79 1402,31.024 C1408.11,33.258 1416,34.007 1416,34.007 L1432,34.007 L2702,34.007 L2702,57 L1350,57 L-2,57 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5"></path>
				</svg>
				<i class="glyphicon glyphicon-chevron-down"></i>
			</div>
			<!--/ Sub-header Bottom mask style 3 -->
		</div>
		<!-- Contact form & details section -->
		<section class="hg_section ptop-80 pbottom-80">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9">
						<!-- Contact form -->
						<div class="contactForm">
							<form action="https://kallyas-template.net/php_helpers/_contact-process.php" method="post" class="contact_form row">
								<div class="cf_response"></div>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="name" id="cf_name" class="form-control" placeholder="Please enter your first name" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">FIRSTNAME</label>
								</p>
								<p class="col-sm-6 kl-fancy-form">
									<input type="text" name="lastname" id="cf_lastname" class="form-control" placeholder="Please enter your first last name" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">LASTNAME</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<input type="text" name="email" id="cf_email" class="form-control h5-email" placeholder="Please enter your email address" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">EMAIL</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<input type="text" name="subject" id="cf_subject" class="form-control" placeholder="Enter the subject message" value="" tabindex="1" maxlength="35" required>
									<label class="control-label">SUBJECT</label>
								</p>
								<p class="col-sm-12 kl-fancy-form">
									<textarea name="message" id="cf_message" class="form-control" cols="30" rows="10" placeholder="Your message" tabindex="4" required></textarea>
									<label class="control-label">MESSAGE</label>
								</p>

								<!-- Google recaptcha required site-key -->
<!--								<div class="g-recaptcha" data-sitekey="6Lc9txAUAAAAAD4PbKg_oKQIgsVj2-oIMaBVwTE0"></div>-->

								<p class="col-sm-12">
									<button class="btn btn-fullcolor js-button-cf-submit" type="submit">Send</button>
								</p>
								
							</form>
						</div>
						<!--/ Contact form -->
					</div>
					<!--/ col-md-9 col-sm-9 -->

					<div class="col-md-3 col-sm-3">
						<!-- Contact details -->
						<div class="text_box">
							<h3 class="text_box-title text_box-title--style2">CONTACT INFO</h3>
							<h4>Mulberry St, New York, NY 10012, USA</h4>
							<p>
								1.900.256.332<br>
								 1.900.256.334
							</p>
							<p>
								<a href="mailto:#">hello@yourwebsite.com</a><br>
								<a href="">www.hogash.com</a>
							</p>
						</div>
						<!--/ Contact details -->
					</div>
					<!--/ col-md-3 col-sm-3 -->
				</div>
				<!--/ .row -->
			</div>
			<!--/ .container -->
		</section>
   	<script src='js/api.js'></script>

    <script type="text/javascript" src="assets/js/kl-plugins.js"></script>

    <!--/ Contact form & details section -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBujjMVHPFsgkbAywBtSYbFR-JIMkBNGL0"></script>

    <script type="text/javascript" src="assets/js/plugins/jquery.gmap.min.js"></script>

    <!-- Requried js trigger for Google Maps element -->
    <script type="text/javascript" src="assets/js/trigger/kl-google-maps.js"></script>
    <script type="text/javascript" src="assets/js/kl-plugins.js"></script>
    <script type="text/javascript" src="assets/js/dp.js"></script>
