<style>
li.product {
    width: 33.3%;
    float: left;
    margin-bottom: 24px;
    padding: 10px 9px;
    cursor: pointer
}
    .product-list-item:hover .kw-prodimage-img-secondary, .kl-store-page ul.products li.product .product-list-item:hover .kw-prodimage-img-secondary {
    opacity: 1;
    z-index: 1;
    height: 300px;
    padding: 7px 60px;
}
    .chaser .row {
    position: relative;
    display: none;
}
    
</style>
   <link rel="stylesheet" href="css/woo.css">
    <div id="page_wrapper">
     <div class="hg_section--relative"></div>
        <div id="page_header" class="page-subheader page-subheader--auto page-subheader--inherit-hp zn_def_header_style  psubhead-stheader--absolute sh-tcolor--light">
            <div class="bgback"></div>
            <div class="th-sparkles"></div>
            <div class="ph-content-wrap">
                <div class="ph-content-v-center">
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul  class="breadcrumbs fixclear bread-style--black">
                                        <li ><a>Home</a></li>
                                        <li ><a>Products</a></li>
                                        <li>technical sprays</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="subheader-titles">
                                        <h2 class="subheader-maintitle" >Technical Sprays</h2> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zn_header_bottom_style"></div>
        </div>
        
        <section id="content" class="site-content shop_page">
            <div class="container">
                <div class="row">
                    <div class="left_sidebar col-sm-8 col-md-9  col-md-push-3  ">
                        <header class="woocommerce-products-header">
                            <h1 class="woocommerce-products-header__title page-title">Technical Sprays</h1> </header>
                       
                        <div class="kallyas-productlist-wrapper kallyas-wc-cols--3">
                            <ul class="products">
                               
                                <li class="post-935 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-shirts first instock shipping-taxable purchasable product-type-simple prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a  class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/abro1.png" title="" alt="" class="kw-prodimage-img" width="265" height="265" />
                                            
                                            <img src="images/me/abro1.png" class="kw-prodimage-img-secondary" width="265" height="265" /></span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Abercrombie &#038; Fitch Shirt with Flannel Check</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                                </div>
<!--
                                                 <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
                                                </span>
                                                <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                
-->
                                            </div>
                                        </a>
                                        <span class="kw-actions">
                        
                               <a class="actions-moreinfo" title="MORE INFO">MORE INFO</a></span> </div>
                                </li>
                                <li class="post-930 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-hoodies  instock shipping-taxable purchasable product-type-simple prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/abro22.png" class="kw-prodimage-img" width="265" height="265" />
                                            <img src="images/me/abro22.png"class="kw-prodimage-img-secondary" width="265" height="265" /></span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Abercrombie &#038; Fitch Sweatshirt</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                </div>
<!--
                                                 <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>35.00</span>
                                                </span>
                                                <div class="star-rating"><span style="width:93.4%">Rated <strong class="rating">4.67</strong> out of 5</span></div>
-->
                                            </div>
                                        </a><span class="kw-actions"><a class="actions-moreinfo" >MORE INFO</a></span> </div>
                                </li>
                                <li class="post-936 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-shirts last instock featured shipping-taxable purchasable product-type-variable has-default-attributes prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/akfix1.png" class="kw-prodimage-img" width="265" height="265" />
                                            <img src="images/me/akfix1.png" class="kw-prodimage-img-secondary" width="265" height="265" />
                                            </span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Black Kaviar Longline Shirt</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                </div>
                                                <div class="star-rating"><span style="width:86.6%">Rated <strong class="rating">4.33</strong> out of 5</span></div>
                                            </div>
                                        </a><span class="kw-actions"><a rel="nofollow"  class="actions-addtocart  product_type_variable add_to_cart_button"> More Info</a></span> </div>
                                </li>
                                
                                <div class="col-md-12"></div>
                                
                               <li class="post-935 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-shirts first instock shipping-taxable purchasable product-type-simple prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a  class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/abro1.png" title="" alt="" class="kw-prodimage-img" width="265" height="265" />
                                            
                                            <img src="images/me/abro1.png" class="kw-prodimage-img-secondary" width="265" height="265" /></span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Abercrombie &#038; Fitch Shirt with Flannel Check</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                                </div>
<!--
                                                 <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
                                                </span>
                                                <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                
-->
                                            </div>
                                        </a>
                                        <span class="kw-actions">
                        
                               <a class="actions-moreinfo" title="MORE INFO">MORE INFO</a></span> </div>
                                </li>
                                <li class="post-930 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-hoodies  instock shipping-taxable purchasable product-type-simple prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/abro22.png" class="kw-prodimage-img" width="265" height="265" />
                                            <img src="images/me/abro22.png"class="kw-prodimage-img-secondary" width="265" height="265" /></span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Abercrombie &#038; Fitch Sweatshirt</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                </div>
<!--
                                                 <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>35.00</span>
                                                </span>
                                                <div class="star-rating"><span style="width:93.4%">Rated <strong class="rating">4.67</strong> out of 5</span></div>
-->
                                            </div>
                                        </a><span class="kw-actions"><a class="actions-moreinfo" >MORE INFO</a></span> </div>
                                </li>
                                <li class="post-936 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-shirts last instock featured shipping-taxable purchasable product-type-variable has-default-attributes prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/akfix1.png" class="kw-prodimage-img" width="265" height="265" />
                                            <img src="images/me/akfix1.png" class="kw-prodimage-img-secondary" width="265" height="265" />
                                            </span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Black Kaviar Longline Shirt</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                </div>
                                                <div class="star-rating"><span style="width:86.6%">Rated <strong class="rating">4.33</strong> out of 5</span></div>
                                            </div>
                                        </a><span class="kw-actions"><a rel="nofollow"  class="actions-addtocart  product_type_variable add_to_cart_button"> More Info</a></span> </div>
                                </li>
                                
                                <div class="col-md-12"></div>

                                
                                <li class="post-935 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-shirts first instock shipping-taxable purchasable product-type-simple prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a  class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/abro1.png" title="" alt="" class="kw-prodimage-img" width="265" height="265" />
                                            
                                            <img src="images/me/abro1.png" class="kw-prodimage-img-secondary" width="265" height="265" /></span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Abercrombie &#038; Fitch Shirt with Flannel Check</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                                </div>
<!--
                                                 <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>20.00</span>
                                                </span>
                                                <div class="star-rating"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div>
                                                
-->
                                            </div>
                                        </a>
                                        <span class="kw-actions">
                        
                               <a class="actions-moreinfo" title="MORE INFO">MORE INFO</a></span> </div>
                                </li>
                                <li class="post-930 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-hoodies  instock shipping-taxable purchasable product-type-simple prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/abro22.png" class="kw-prodimage-img" width="265" height="265" />
                                            <img src="images/me/abro22.png"class="kw-prodimage-img-secondary" width="265" height="265" /></span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Abercrombie &#038; Fitch Sweatshirt</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                </div>
<!--
                                                 <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>35.00</span>
                                                </span>
                                                <div class="star-rating"><span style="width:93.4%">Rated <strong class="rating">4.67</strong> out of 5</span></div>
-->
                                            </div>
                                        </a><span class="kw-actions"><a class="actions-moreinfo" >MORE INFO</a></span> </div>
                                </li>
                                <li class="post-936 product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-shirts last instock featured shipping-taxable purchasable product-type-variable has-default-attributes prodpage-classic">
                                    <div class="product-list-item text-custom-parent-hov prod-layout-classic">
                                        <a class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                            <div class="zn_badge_container"> </div> <span class="kw-prodimage">
                                            <img src="images/me/akfix1.png" class="kw-prodimage-img" width="265" height="265" />
                                            <img src="images/me/akfix1.png" class="kw-prodimage-img-secondary" width="265" height="265" />
                                            </span>
                                            <div class="kw-details clearfix">
                                                <h3 class="kw-details-title text-custom-child" itemprop="headline">Black Kaviar Longline Shirt</h3>
                                                <div class="kw-details-desc">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                </div>
                                                <div class="star-rating"><span style="width:86.6%">Rated <strong class="rating">4.33</strong> out of 5</span></div>
                                            </div>
                                        </a><span class="kw-actions"><a rel="nofollow"  class="actions-addtocart  product_type_variable add_to_cart_button"> More Info</a></span> </div>
                                </li>
                                
                                
                            </ul>
                            
                        </div>
                        
                        
                        
                    </div>
                    
                    
                    <aside class=" col-sm-4 col-md-3 col-md-pull-9" >
                        <div class="zn_sidebar sidebar kl-sidebar--light element-scheme--light">
                            <div id="woocommerce_product_search-1" class="widget zn-sidebar-widget woocommerce widget_product_search">
                                <h3 class="widgettitle zn-sidebar-widget-title title">PRODUCT SEARCH</h3>
                                <div class=" kl-gensearch--light">
                                    <form method="get" class="woocommerce-product-search gensearch__form" >
                                        <label class="screen-reader-text" for="s">Search for:</label>
                                        <input type="search" class="search-field inputbox gensearch__input" placeholder="Search Products&hellip;" value="" name="s" id="s" title="Search for:" />
                                        <button type="submit" value="Search" class="gensearch__submit glyphicon glyphicon-search"></button>
                                        <input type="hidden" name="post_type" value="product" /> </form>
                                </div>
                            </div>
                            <div id="woocommerce_price_filter-1" class="widget zn-sidebar-widget woocommerce widget_price_filter">
                              
                            </div>
                            <div id="woocommerce_product_categories-1" class="widget zn-sidebar-widget woocommerce widget_product_categories">
                                <h3 class="widgettitle zn-sidebar-widget-title title">PRODUCT Filter</h3>
                                <ul class="product-categories">
                                   
                                    <li class="cat-item cat-item-20 current-cat"><a > BY PRODUCT TYPE </a> <span class="count"></span></li>
                                    
                                    <li class="cat-item cat-item-13"><a >Adhersives and Sealants</a> <span class="count">(9)</span></li>
                                    <li class="cat-item cat-item-41"><a >Technical Sprays</a> <span class="count">(4)</span></li>
                                    <li class="cat-item cat-item-8"><a >Spray - on snow Chain</a> <span class="count">(2)</span></li>
                                    <li class="cat-item cat-item-9"><a >high - Performence greases</a> <span class="count">(4)</span></li>
                                    <li class="cat-item cat-item-42"><a >Assembly Pastes</a> <span class="count">(3)</span></li>
                                    
                                    <li class="cat-item cat-item-20 current-cat"><a > BY INDUSTRIES </a> <span class="count"></span></li>
                                    <li class="cat-item cat-item-19"><a > Agricultural Technology</a> <span class="count">(2)</span></li>
                                    <li class="cat-item cat-item-6"><a >Automotive and Transport</a> <span class="count">(4)</span></li>
                                    <li class="cat-item cat-item-15"><a >Machanical Engineering</a> <span class="count">(3)</span></li>
                                    <li class="cat-item cat-item-18"><a >Energy</a> <span class="count">(3)</span></li>
                                    <li class="cat-item cat-item-7"><a >Oil and Gas</a> <span class="count">(10)</span></li>
                                    
                                    <li class="cat-item cat-item-20 current-cat"><a >APPLICATIONS</a> <span class="count"></span></li>

                                    <li class="cat-item cat-item-43"><a >Bonding and Sealing</a> <span class="count">(6)</span></li>
                                    <li class="cat-item cat-item-10"><a >Maintence and Repair</a> <span class="count">(4)</span></li>
                                    <li class="cat-item cat-item-12"><a >Coating and Protecting</a> <span class="count">(2)</span></li>
                                    <li class="cat-item cat-item-11"><a >Clean </a> <span class="count">(6)</span></li>
                                    
                                </ul>
                            </div>
                           
                        </div>
                    </aside>
                </div>
            </div>
        </section>
      
    </div>
    
    
    