	<style>
        .hg_section.ng-scope .col-md-4 {
            padding: 38px
        }
</style>
	<!-- Page sub-header + Bottom mask style 3 -->
		<div id="page_header" class="page-subheader site-subheader-cst min-380 maskcontainer--mask3">
			<div class="bgback"></div>

			<!-- Background -->
			<div class="kl-bg-source">
				<!-- Gradient overlay -->
				<div class="kl-bg-source__overlay" style="background:rgba(118,3,186,1); background: -moz-linear-gradient(to left, #337ab7 70%,rgb(253, 253, 253) 100%); 
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(118,3,186,1)), color-stop(100%,rgba(143,21,21,1))); 
				background: -webkit-linear-gradient(left, rgba(118,3,186,1) 0%,rgba(143,21,21,1) 100%);
				 background: -o-linear-gradient(left, rgba(118,3,186,1) 0%,rgba(143,21,21,1) 100%); background: -ms-linear-gradient(to left, #337ab7 70%,rgb(253, 253, 253) 100%); background: linear-gradient(to left, #337ab7 70%,rgb(253, 253, 253) 100%);">
				</div>
				<!--/ Gradient overlay -->
			</div>
			<!--/ Background -->

			<!-- Animated Sparkles -->
			<div class="th-sparkles"></div>
			<!--/ Animated Sparkles -->

			<!-- Sub-Header content wrapper -->
			<div class="ph-content-wrap">
				<div class="ph-content-v-center">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<!-- Breadcrumbs -->
								<ul class="breadcrumbs fixclear">
									<li><a href="index-2.html">Home</a></li>
									<li>Pages – OUR TEAM</li>
								</ul>
								<!--/ Breadcrumbs -->

								<!-- Current date -->
								<span id="current-date" class="subheader-currentdate">August 25, 2017</span>
								<!--/ Current date -->

								<div class="clearfix"></div>
							</div>
							<!--/ col-sm-6 -->

							<div class="col-sm-6">
								<!-- Sub-header titles -->
								<div class="subheader-titles">
									<h2 class="subheader-maintitle">MEET THE TEAM</h2>
									<h4 class="subheader-subtitle">WE'RE SO READY FOR NEW PROJECTS!</h4>
								</div>
								<!--/ Sub-header titles -->
							</div>
							<!--/ col-sm-6 -->
						</div>
						<!--/ row -->
					</div>
					<!--/ container -->
				</div>
				<!--/ .ph-content-v-center -->
			</div>
			<!--/ Sub-Header content wrapper -->

			<!-- Sub-header Bottom mask style 3 -->
			<div class="kl-bottommask kl-bottommask--mask3">
				<svg width="2700px" height="57px" class="svgmask" viewBox="0 0 2700 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
						<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
							<feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
							<feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
							<feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
							<feMerge>
								<feMergeNode in="SourceGraphic"></feMergeNode>
								<feMergeNode in="shadowMatrixInner1"></feMergeNode>
							</feMerge>
						</filter>
					</defs>
					<path d="M-2,57 L-2,34.007 L1268,34.007 L1284,34.007 C1284,34.007 1291.89,33.258 1298,31.024 C1304.11,28.79 1329,11 1329,11 L1342,2 C1342,2 1345.121,-0.038 1350,-1.64313008e-14 C1355.267,-0.03 1358,2 1358,2 L1371,11 C1371,11 1395.89,28.79 1402,31.024 C1408.11,33.258 1416,34.007 1416,34.007 L1432,34.007 L2702,34.007 L2702,57 L1350,57 L-2,57 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5"></path>
				</svg>
				<i class="glyphicon glyphicon-chevron-down"></i>
			</div>
			<!--/ Sub-header Bottom mask style 3 -->
		</div>
		<!--/ Page sub-header + Bottom mask style 3 -->

		<!-- Title & sub-title section -->
        <section class="hg_section">
			<div class="container">
				<div class="row">				
					<div class="col-md-12 col-sm-12">
						<!-- Title element center aligned with bottom line -->
						<div class="clearfix text-center tbk-symbol--line tbk-icon-pos--after-title">
							<!-- Title with montserrat font and bold style -->
							<h3 class="montserrat fw-bold">OUR TEAM</h3>

							<!-- Title bottom symbol -->
							<div class="tbk__symbol ">
								<span></span>
							</div>
							<!--/ Title bottom symbol -->

							<!-- Sub-title with custom font size -->
							<h4 class="tbk__subtitle fs-16">Compellingly cultivate world-class imperatives whereas stand-alone testing procedures.</h4>
						</div>
						<!--/ Title element center aligned with bottom line -->		
					</div>
					<!--/ col-md-12 col-sm-12 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Title & sub-title section -->

		<!-- Team boxes section custom bottom padding -->
		<section class="hg_section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (1).jpg" class="img-responsive" width="370" height="370" alt="Michael Jonas" title="Michael Jonas" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>Michael Jonas</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>CEO / Founder</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Proactively brand bricks-and-clicks data after flexible models. Progressively incubate effective platforms vis-a-vis open-source niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->
<!--
								<ul class="social-icons sc--colored fixclear">
									<li><a href="#" target="_blank" title="Facebook" class="icon-facebook"></a></li>
									<li><a href="#" target="_blank" title="Twitter" class="icon-twitter"></a></li>
									<li><a href="#" target="_blank" title="Google Plus" class="icon-google"></a></li>
									<li><a href="#" target="_blank" title="LinkedIn" class="icon-linkedin"></a></li>
								</ul>
-->
								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-4 col-sm-4 -->

					<div class="col-md-4 col-sm-4">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (2).jpg" class="img-responsive" width="370" height="370" alt="Amy McGill" title="Amy McGill" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>Amy McGill</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>CFO / Co-Founder</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Proactively brand bricks-and-clicks data after flexible models. Progressively incubate effective platforms vis-a-vis open-source niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->

								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-4 col-sm-4 -->

					<div class="col-md-4 col-sm-4">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (3).jpg" class="img-responsive" width="370" height="370" alt="Patricia Knowles" title="Patricia Knowles" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>Patricia Knowles</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>CFO / Co-Founder / Marketing</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Synergistically foster extensive technologies via extensible quality vectors. Synergistically unleash client-centric niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->
							
								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-4 col-sm-4 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Team boxes section custom bottom padding -->

		<!-- Team boxes section -->
		<section class="hg_section mb-50">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (4).jpg" class="img-responsive" width="270" height="270" alt="Jonathan Jane" title="Jonathan Jane" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>Jonathan Jane</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>Creative Director</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Synergistically foster extensive technologies via extensible quality vectors. Synergistically unleash client-centric niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->
								
								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-3 col-sm-3 -->

					<div class="col-md-3 col-sm-3">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (1).jpg" class="img-responsive" width="270" height="270" alt="Arthur Bertrand" title="Arthur Bertrand" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>Arthur Bertrand</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>Project Manager</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Synergistically foster extensive technologies via extensible quality vectors. Synergistically unleash client-centric niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->
								
								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-3 col-sm-3 -->

					<div class="col-md-3 col-sm-3">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (3).jpg" class="img-responsive" width="270" height="270" alt="Kelly Lewis" title="Kelly Lewis" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>Kelly Lewis</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>Managing Director</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Synergistically foster extensive technologies via extensible quality vectors. Synergistically unleash client-centric niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->
								
								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-3 col-sm-3 -->

					<div class="col-md-3 col-sm-3">
						<!-- Team member -->
						<div class="team_member">
							<!-- Image link -->
							<a href="#" target="_blank" class="grayHover">
								<!-- Image -->
								<img src="assets/images/faces/pic (2).jpg" class="img-responsive" width="270" height="270" alt="James Clayton" title="James Clayton" />
								<!--/ Image -->
							</a>
							<!--/ Image link -->

							<!-- Name -->
							<h4>James Clayton</h4>
							<!--/ Name -->

							<!-- Position -->
							<h6>Sales Representative</h6>
							<!--/ Position -->

							<!-- Details -->
							<div class="details">
								<!-- Description -->
								<div class="desc">
									<p>
										Synergistically foster extensive technologies via extensible quality vectors. Synergistically unleash client-centric niche markets.
									</p>
								</div>
								<!--/ Description -->

								<!-- Social links -->
								
								<!--/ Social links -->
							</div>
							<!--/ Details -->
						</div>
						<!--/ Team member -->
					</div>
					<!--/ col-md-3 col-sm-3 -->
				</div>
				<!--/ row -->
			</div>
			<!--/ container -->
		</section>
		<!--/ Team boxes section -->
